<!doctype html>
<html lang="ru">

<head>
    <title>Подтверждение сборок</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Face\img\t-kom-ico.svg">

    <link href="Face/html/css/bootstrap.min.css" rel="stylesheet">
    <link href="Face/html/css/fontello.css" rel="stylesheet">
    <link href="Face/html/css/style.css" rel="stylesheet">

</head>
<body>
    
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" aria-label="Fifth navbar example">
        <div class="container-fluid">
        
          <a class="navbar-brand" href="/works/prof">
            <img src="Face\img\t-kom-logo.svg" width="100" height="50" alt="" loading="lazy">
          </a>
  
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="navbar-collapse collapse" id="navbarsExample05">
  
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link active" href="/works/prof">Профиль</a>
              </li>
              
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Таблицы</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/works/tmc">ТМЦ</a></li>
                <li><a class="dropdown-item" href="/works/orders">Заказы</a></li>
                <li><a class="dropdown-item" href="/works/storage">Склад</a></li>
                </ul>
              </li>
              <form id="logout" name="logout" action="/works/logout" method="post"> 
                <input class="btn btn-outline-danger" type="submit" name="logoutBtn" value="Выйти">
              </form>
            </ul>
  
          </div>
  
        </div>
    </nav>
    &nbsp;
    <form id="aceptform" name="aceptform" action="/works/releaseproduction" method="post">
    <div class="container-xxl g-3">
      <div class="row">
        
          <div class="col-auto">
            <div class="row g-3 ">
              {{range .Builds}}
              <div class="col" style="width: 100%; min-width: 400px;">
                <div class="card" style=" width: 100%; max-width: 801px;">
                  <ul class="list-inline card-header"><li class="list-inline-item h4">{{.TModel}}</li><li class="list-inline-item h4 float-end">#{{.Id}}</li></ul>
                  <div class="card-body">
                    <h6 class="card-title">{{.DModel}}</h6>
                    <p class="card-text"></p>
                  </div>
                  <ul class="list-group list-group-flush">
                    {{range .BuildList}}
                    <li class="list-group-item">{{.Mat}} [{{.Amout}}]</li>
                    {{end}}
                  </ul>
                  <div class="card-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="Check{{.Id}}" required>
                      <label class="form-check-label" for="Check{{.Id}}">Подтвердить сборку</label>
                    </div>
                  </div>
                </div>
              </div>
              {{end}}
            </div>
          </div>
          <div class="col-auto" style="width: max-content;">
            
              <h6>Серийные номера</h6>
              <textarea class="form-control" name="inSn" id="inSn" style="height: 100%; width: max-content" readonly>
                {{range .InSn}}{{.}} {{end}}
              </textarea>
              <button type="submit" class="btn btn-primary">Подтвердить и собрать</button>
            
            &nbsp;
          </div>
        
      </div>
    </div>
    </form>
    &nbsp;
      
      <script src="Face/html/js/bootstrap.bundle.js"></script>

    </body>
    
    
    </html>
    