<!doctype html>
<html lang="ru">

<head>
    <title>Календарь</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Face\img\t-kom-ico 144.png">

    <link href="Face/html/css/bootstrap.min.css" rel="stylesheet">
    <link href="Face/html/css/style.css" rel="stylesheet">
    <link href="Face/html/css/bootstrap-icons.css" rel="stylesheet">
    <script src='Face\html\js\index.global.min.js'></script>
    <script src='Face\html\js\cal.biootstrap.index.global.min.js'></script>
    <script src='Face\html\js\cal.ru.js'></script>
    <style>

    </style>
    <script>
        var calendar
        document.addEventListener('DOMContentLoaded', function () {
          var calendarEl = document.getElementById('calendar');
        
            calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            locale :'ru',
            firstDay: 1,
            buttonText:{
              today: 'Сегодня',
              month: 'Месяц',
              week: 'Неделя',
              day: 'День',
              year: 'Год'
            },

            views: {
              monthJira: {
                type: 'resourceTimeline',
                duration: { month: 1 },
                slotMinWidth : 75,
                slotLabelFormat:{weekday: 'short',  day: 'numeric', omitCommas: true},
              },
              yearJira: {
                type: 'resourceTimeline',
                duration: { year: 1 },
                slotMinWidth : 75,
                slotLabelFormat:{month: 'numeric',  day: 'numeric', omitCommas: true},
              }
            },

            expandRows: true,
            height: 'auto',
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: '{{if eq .View "Jira"}}monthJira,yearJira{{else if eq .View "List"}}listWeek,listMonth{{else if eq .View "Cal"}}dayGridWeek,dayGridMonth,multiMonthYear{{end}}'
            },
            initialView: '{{if eq .View "Jira"}}monthJira{{else if eq .View "List"}}listWeek{{else if eq .View "Cal"}}dayGridMonth{{end}}',
            selectable: true,
            nowIndicator: true,
            eventOrder: "prior",
            resourceOrder: "prior",

            
            multiMonthMaxColumns : 2,

            




            
            resources: [
            {{range .Tasks}}
            {
              id: '{{.Id}}',
              title: '{{.Name}}',
              prior: {{.Priority}} 
            },
            {{end}}
            ],


            

             
            events: [
              {{range .Tasks}}
              {
                resourceId: '{{.Id}}',
                title: {{if eq $.View "Jira"}}''{{else}}'{{.Name}} #{{.Id}}'{{end}},
                url: "/works/task?Id={{.Id}}",
                description: '{{.Description}}',
                start: '{{.DateStart}}',
                end: '{{.DateEnd}}',
                color: '{{.Color}}',
                allDay: true,
                prior: {{.Priority}}
                

              },
              {{end}}
              
            ]
                });
        
          calendar.render();
        });
        
        </script>

</head>
<body>
    
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" aria-label="Fifth navbar example">
        <div class="container-fluid">
        
          <a class="navbar-brand" href="/works/prof">
            <img src="Face\img\t-kom-logo.svg" width="100" height="50" alt="" loading="lazy">
          </a>
  
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="navbar-collapse collapse" id="navbarsExample05">
  
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
              <li class="nav-item">
                <a class="nav-link active" href="/works/prof">Профиль <i style="color: rgb(80, 80, 80);" class="bi bi-person-circle"></i></a>
              </li>
              
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Таблицы</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/works/tmc">ТМЦ <i style="color: rgb(80, 80, 80);" class="bi bi-table"></i></a></li>
                  <li><a class="dropdown-item" href="/works/orders">Заказы <i style="color: rgb(80, 80, 80);" class="bi bi-briefcase-fill"></i></a></li>
                  <li><a class="dropdown-item" href="/works/storage">Склад <i style="color: rgb(80, 80, 80);" class="bi bi-house-fill"></i></a></li>
                </ul>
              </li>
              <a class="nav-link active" style="text-align: left;" href="/works/cal">Календарь задач <i class="bi bi-calendar-week"></i></a>
              
            </ul>
            <a class="btn btn-primary" href="/works/createtask"><i class="bi bi-calendar-plus"></i></a>
            &nbsp;
            {{if eq .View "Jira"}}
            <a class="btn btn-primary" href="/works/cal?look=List" role="button" > <i class="bi bi-list-ul"></i> Вид списка</a>
            <a class="btn btn-primary" href="/works/cal?look=Cal" role="button" > <i class="bi bi-list-ul"></i> Cal</a>
            {{else if eq .View "List"}}
            <a class="btn btn-primary" href="/works/cal?look=Cal" role="button" > <i class="bi bi-list-ul"></i> Cal</a>
            <a class="btn btn-primary" href="/works/cal?look=Jira" role="button" > <i class="bi bi-list-ul"></i> Jira</a>
            {{else if eq .View "Cal"}}
            <a class="btn btn-primary" href="/works/cal?look=List" role="button" > <i class="bi bi-list-ul"></i> Вид списка</a>
            <a class="btn btn-primary" href="/works/cal?look=Jira" role="button" > <i class="bi bi-list-ul"></i> Jira</a>
            {{end}}
            
            

          </div>
  
        </div>
    </nav>
    &nbsp;
    
    <div class="{{if eq .View "Jira"}}container-fluid{{else if eq .View "List"}}container-xxl{{else if eq .View "Cal"}}container-xxl{{end}}" >
      <div class="row">
        <div class="col">
         <div id='calendar'></div>
        </div>
      </div>
    </div>


    <script>
      
    </script>

    <script src="Face/html/js/bootstrap.bundle.js"></script>
    <script src="Face/html/js/keys.js"></script>
</body>


</html>