<!doctype html>
<html lang="ru">

<head>
    <title>Можно собрать</title>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Face\img\t-kom-ico 144.png">

    <link href="Face/html/css/bootstrap.min.css" rel="stylesheet">
    <link href="Face/html/css/style.css" rel="stylesheet">
    <link href="Face/html/css/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    
  <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" aria-label="Fifth navbar example">
    <div class="container-fluid">
    
      <a class="navbar-brand" href="/works/prof">
        <img src="Face\img\t-kom-logo.svg" width="100" height="50" alt="" loading="lazy">
      </a>

      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Переключить навигацию">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample05">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
          <li class="nav-item">
            <a class="nav-link active" href="/works/prof">Главная <i style="color: rgb(80, 80, 80);" class="bi bi-house-fill"></i></a>
          </li>
          
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Таблицы</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/works/tmc">ТМЦ <i style="color: rgb(80, 80, 80);" class="bi bi-table"></i></a></li>
              <li><a class="dropdown-item" href="/works/orders">Заказы <i style="color: rgb(80, 80, 80);" class="bi bi-briefcase-fill"></i></a></li>
              <li><a class="dropdown-item" href="/works/storage">Склад <i style="color: rgb(80, 80, 80);" class="bi bi-house-fill"></i></a></li>
            </ul>
          </li>
          <a class="nav-link active" style="text-align: left;" href="/works/cal">Календарь задач <i class="bi bi-calendar-week"></i></a>
          
        </ul>
      </div>

    </div>
  </nav>




      <div class="container">

        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
          <li class="nav-item" >
            <a class="nav-link" href="/works/canbebuild">Сборка/Выработка</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link active" href="/works/canbebuildorders">Заказы</a>
          </li>
        </ul>


        <div class="d-flex align-items-start" >
          <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {{range .}}
            <button class="nav-link" id="v-pills-{{.Id}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{.Id}}" type="button" role="tab" aria-controls="v-pills-{{.Id}}" aria-selected="true">Заказ {{.Id}}</button>
            {{end}}
          </div>
          <div class="tab-content" id="v-pills-tabContent" style="width: 100%;">
            {{range .}}
            <div class="tab-pane fade show" id="v-pills-{{.Id}}" role="tabpanel" aria-labelledby="v-pills-{{.Id}}-tab" tabindex="0">
              <a href="/works/order/mini?Id={{.Id}}">#{{.Id}} {{.Name}}</a>
              <table class="table table-bordered table-hover table-striped table-sm">
                <thead>
                    <tr>
                      <th scope="col">
                        Модель
                      </th>
                      <th scope="col">
                        Из
                      </th>
                      <th scope="col">
                        ID сборки
                      </th>
                      <th scope="col">
                        Кол-во
                      </th>
                      <th scope="col">
                        В заказе
                      </th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Tab}}
                    <tr>
                        <td>
                          {{.TModel}}
                        </td>
                        <td>
                          {{.DModel}}
                        </td>
                        <td>
                          {{.BuildID}}
                        </td>
                        <td>
                          {{.Amout}}
                        </td>
                        <td>
                          {{.InOrder}}
                        </td>
                    </tr>
                    {{end}}
                </tbody>
              </table>
            </div>
            {{end}}
            
            
      
          </div>
        </div>


        

        
        
      </div>

        <script src="Face/html/js/bootstrap.bundle.js"></script>
        <script src="Face/html/js/keys.js"></script>
</body>


</html>