<!doctype html>
<html lang="ru">

<head>
    <title>Состав заказа</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Face\img\t-kom-ico 144.png">

    <link href="Face/html/css/bootstrap.min.css" rel="stylesheet">
    <link href="Face/html/css/style.css" rel="stylesheet">
    <link href="Face/html/css/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" aria-label="Fifth navbar example">
        <div class="container-fluid">
        
          <a class="navbar-brand" href="/works/prof">
            <img src="Face\img\t-kom-logo.svg" width="100" height="50" alt="" loading="lazy">
          </a>
  
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="navbar-collapse collapse" id="navbarsExample05">
  
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
              <li class="nav-item">
                <a class="nav-link active" href="/works/prof">Главная <i style="color: rgb(80, 80, 80);" class="bi bi-house-fill"></i></a>
              </li>
              
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Таблицы</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/works/tmc">ТМЦ <i style="color: rgb(80, 80, 80);" class="bi bi-table"></i></a></li>
                  <li><a class="dropdown-item" href="/works/orders">Заказы <i style="color: rgb(80, 80, 80);" class="bi bi-briefcase-fill"></i></a></li>
                  <li><a class="dropdown-item" href="/works/storage">Склад <i style="color: rgb(80, 80, 80);" class="bi bi-house-fill"></i></a></li>
                </ul>
              </li>
              <a class="nav-link active" style="text-align: left;" href="/works/cal">Календарь задач <i class="bi bi-calendar-week"></i></a>
              
            </ul>
  
          </div>
  
        </div>
      </nav>

    <div class="container-xl" >
      <table class="table table-striped">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Модель</th>
                  <th scope="col">Кол-во</th>
                  <th scope="col">Тип сервиса</th>
                  <th scope="col">Дата активации сервиса</th>
              </tr>
          </thead>
          <tbody>
              {{range .List}}
              <tr>
                  <td>
                    <form  class="p-1" id="changelist" name="changelist" action="/works/createorderlist" target="_parent" method="post">      
                      <input type="hidden" name="Action" value="OpenRedact" />
                      <input type="hidden" name="Id" value="{{.Order}}" />
                      <input type="hidden" name="ListId" value="{{.Id}}" />
                      <button type="submit" class="btn btn-sm btn-info " ><i class="bi-pencil">{{.Id}}</i></button>
                  </form>
                  </td>
                  <td>{{.Model}}</td>
                  <td>{{.Amout}}</td>
                  <td>{{.ServType}}</td>
                  <td>{{.ServActDate}}</td> 
              </tr>
              {{end}}
          </tbody>
      </table>
      <form  class="p-1" id="New" name="New" action="/works/createorderlist" target="_parent" method="post">      
        <input type="hidden" name="Action" value="Open" />
        <input type="hidden" name="Id" value="{{.OrderId}}" />
        <button type="submit" class="btn btn-sm btn-info " ><i class="bi-plus-lg"></i></button>
      </form>
    </div>

  

    <div class="container-xl p-3">
      <form id="in-form" name="in-form" action="" method="post">
        <div class="row">
          <div class="col" style="min-width: 200px;">
            
            <label for="TModel" class="form-label">Модель</label>
            <div class=" input-group mb-1">
              {{if(eq .ListId -1 )}} <span class="input-group-text"><i class="bi-plus-lg"></i></span> <input type="hidden" name="ListId" value="-1" />
              {{else}} <span class="input-group-text">{{.ListId}}</span> <input type="hidden" name="ListId" value="{{.ListId}}" /> {{end}}
              
              <input required class="form-select" name="TModel" type="text" list="tmodellist" placeholder="Не выбрано" onchange="resetIfInvalid(this)" {{if(eq .ListId -1 )}} {{else}} value="{{.RedElement.Model}}" {{end}}></input>
              <datalist id="tmodellist">
                <option  value=""></option>
                {{range .TModels}}
                  <option value="{{.Name}}"></option>
                {{end}}  
              </datalist>

              <input required type="number" class="form-control" placeholder=",шт" name="Amout" id="Amout" value="{{.RedElement.Amout}}">
            </div>
           
            
          </div>
          <div class="col mb-1" style="min-width: 200px;"  >
            
            <label for="Serv" class="form-label">Гарантия</label>
            
            <div class=" input-group mb-1">
              <select required class="form-select" name="Serv">
                {{if(eq .ListId -1 )}}
                  <option selected value="1">Стандарт</option>
                  <option value="2">РГ-1</option>
                  <option value="3">РГ-2</option>
                  <option value="4">РГ-3</option>
                  <option value="5">РГ-4</option>
                  <option value="6">СП-1</option>
                  <option value="7">СП-2</option>
                  <option value="8">СП-3</option>
                  <option value="9">СП-4</option>
                {{else}}
                  <option {{if(eq $.RedElement.ServType 1 )}}{{ print "selected" }} {{end}} value="1">Стандарт</option>
                  <option {{if(eq $.RedElement.ServType 2 )}}{{ print "selected" }} {{end}} value="2">РГ-1</option>
                  <option {{if(eq $.RedElement.ServType 3 )}}{{ print "selected" }} {{end}} value="3">РГ-2</option>
                  <option {{if(eq $.RedElement.ServType 4 )}}{{ print "selected" }} {{end}} value="4">РГ-3</option>
                  <option {{if(eq $.RedElement.ServType 5 )}}{{ print "selected" }} {{end}} value="5">РГ-4</option>
                  <option {{if(eq $.RedElement.ServType 6 )}}{{ print "selected" }} {{end}} value="6">СП-1</option>
                  <option {{if(eq $.RedElement.ServType 7 )}}{{ print "selected" }} {{end}} value="7">СП-2</option>
                  <option {{if(eq $.RedElement.ServType 8 )}}{{ print "selected" }} {{end}} value="8">СП-3</option>
                  <option {{if(eq $.RedElement.ServType 9 )}}{{ print "selected" }} {{end}} value="9">СП-4</option>
                {{end}}
              </select>
              {{if(eq .ListId -1 )}}
                <input required type="date" class="form-control" placeholder="Дата" name="ServActDate" id="ServActDate" value="">
              {{else}}
             
              <input required type="date" class="form-control" placeholder="Дата" name="ServActDate" id="ServActDate" value="{{.RedElement.ServActDate}}">
              {{end}}
              </div>
          </div>
        </div>
        
        <input type="hidden" name="Id" value="{{.OrderId}}" />
        {{if(eq .ListId -1 )}}
          <input type="hidden" name="Action" value="Create" />
          <button class="btn btn-primary" type="submit" style="width: 100%;">Добавить</button>
        {{else}}
          <input type="hidden" name="Action" value="Redact" />
          <button class="btn btn-primary" type="submit" style="width: 100%;">Изменить</button>
        {{end}}
      </form>
    </div>

    <script>
      function resetIfInvalid(el){
       
        if (el.value == "")
            return;
        var options = el.list.options;
        for (var i = 0; i<options.length; i++) {
            if (el.value == options[i].value)
                return;
        }
        
        el.value = "";
      }

      window.addEventListener("load", (event) => {
        const el = document.getElementById('in-form');
        el.scrollIntoView();
      });

    </script>

    <script src="Face/html/js/bootstrap.bundle.js"></script>
    <script src="Face/html/js/keys.js"></script>
</body>


</html>

