<!doctype html>
<html>

<head>
    <title>komm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Face\img\t-kom-ico.svg">

    <link href="Face/html/css/bootstrap.min.css" rel="stylesheet">
    <link href="Face/html/css/fontello.css" rel="stylesheet">
    <link href="Face/html/css/style.css" rel="stylesheet">

</head>
<body>
    

    
    <div class="container-fluid" style="height: 34vh;">
            
            <div class="row">
                <div class="col">
                    <nav>
                    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                        <button class="text-sm-center nav-link disabled" >{{.Device.Name}}&nbsp;&nbsp;Sn:{{.Device.Sn}}</button>
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Главная</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" tabindex="-1">Детали</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" tabindex="-1">Приемка/Отгрузка</button>
                    </div>
                    </nav>
                    
                    <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" style="font-size: 80%;">
                            <tbody>
                                <tr>
                                    <th>Наименование:</th>
                                    <td>{{.Device.Name}}</td>
                                    <th>SN:</th>
                                    <td>{{.Device.Sn}}</td>
                                </tr>
                                <tr>
                                    <th>DModel:</th>
                                    <td>{{.Device.DModel}}</td>
                                    <th>Место:</th>
                                    <td>{{.Device.Place}}</td>
                                </tr>
                                <tr>
                                    <th>TModel:</th>
                                    <td>{{.Device.TModel}}</td>
                                    <th>Статус</th>
                                    <td>{{.Device.Condition}}</td>
                                </tr>
                                <tr>
                                    <th>Заказ:</th>
                                    <td>{{.Device.Order}} &nbsp;<a class="btn btn-sm btn-outline-info" role="button" href="/works/order/mini?Id={{.Device.Order}}" >Открыть</a></td>
                                    <th>Изм. статус.</th>
                                    <td>{{.Device.CondDate}}</td>
                                </tr>
                                <tr>
                                    <th>Коментарий:</th>
                                    <td colspan="3" >
                                        {{.Device.Comment}} &nbsp;&nbsp;&nbsp;
                                        <form class="p-1" id="in-form" name="in-form" action="/works/addcomment" method="post">                                                                                                                                                                             
                                            <input class="form-control" type="text" id="text" name="text"  placeholder="" ></input>
                                            <input type="hidden" name="Id" value="{{.Device.Id}}" />
                                            <button type="submit" class="btn btn-primary ">Дополнить</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <table class="table" style="font-size: 80%;">
                            <tbody>
                                <tr>
                                    <th>Id:</th>
                                    <td>{{.Device.Id}}</td>
                                    <th>DModel:</th>
                                    <td>{{.Device.DModel}}</td>

                                </tr>
                                <tr>
                                    <th>SN:</th>
                                    <td>{{.Device.Sn}}</td>
                                    <th>TModel:</th>
                                    <td>{{.Device.TModel}}</td>
                                </tr>
                                <tr>
                                    <th>MAC:</th>
                                    <td>{{.Device.Mac}}</td>
                                    <th>Ревизия:</th>
                                    <td>{{.Device.Rev}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <table class="table" style="font-size: 80%;">
                            <tbody>
                                <tr>
                                    <th>Отгрузка:</th>
                                    <td>{{.Device.Shiped}}</td>
                                    <th>Заказ приёмки:</th>
                                    <td>{{.Device.TakenOrder}}</td>

                                </tr>
                                <tr>
                                    <th>Дата отгрузки:</th>
                                    <td>{{.Device.ShipedDate}}</td>
                                    <th>Дата приемки:</th>
                                    <td>{{.Device.TakenDate}}</td>
                                </tr>
                                <tr>
                                    <th>Место отгрузки:</th>
                                    <td>{{.Device.ShippedDest}}</td>
                                    <th>Документ приемки:</th>
                                    <td>{{.Device.TakenDoc}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    
                </div>

                {{if .Events}}
                <div class="col">
                    <div class="container-fluid" style="height: 100vh; overflow-y: scroll;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Событие</th>
                                    <th scope="col">Текст</th>
                                    <th scope="col">Дата</th>
                                    <th scope="col">Сотрудник</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .Events}}
                                <tr>
                                    <th scope="row">{{.LogId}}</th>
                                    <td>{{.EventType}}</td>
                                    <td>{{.EventText}}</td>
                                    <td>{{.EventTime}}</td> 
                                    <td>{{.User}}</td>
                                </tr>
                                {{end}}
                            </tbody>
                      </table>
                    </div>
                </div>
                {{end}}
            </div>
                
           
          
    </div>
    
<script src="Face/html/js/bootstrap.bundle.js"></script>
</body>


</html>