<!doctype html>
<html lang="ru">

<head>
    <title>Заказ {{.Order.OrderId}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Face\img\t-kom-ico 144.png">

    <link href="Face/html/css/bootstrap.min.css" rel="stylesheet">
    <link href="Face/html/css/style.css" rel="stylesheet">
    <link href="Face/html/css/bootstrap-icons.css" rel="stylesheet">
    <style>
        .tcs-select {
        font-weight: bolder;
        color: blueviolet;
      }
    </style>
</head>
<body>
    

    
    <div class="container-fluid" style="height: 34vh;">
            
            <div class="row">
                <div class="col">
                    <nav>
                    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                        <button class="text-sm-center nav-link disabled" >{{.Order.Name}}&nbsp;&nbsp;#:{{.Order.Id1C}}</button>
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Главная</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" tabindex="-1">Детали</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" tabindex="-1">Даты</button>
                        
                        {{ if (eq .User.Acces 3)}}
                        <form  class="p-1" id="changenum" name="changenum" action="/works/change1cnumorder" target="_parent" method="post">   
                            <div class=" input-group input-group-sm" >
                                <button class="btn btn-info" type="submit"  ><i class="bi-pencil-fill"> </i></button>
                                <input type="hidden" name="Id" value="{{.Order.OrderId}}" />
                                <input class="form-control " type="number" name="1CNum" placeholder="Изменить №1С" style="width: 150px" />
                            </div>
                        </form>
                        <form  class="p-1" id="changelist" name="changelist" action="/works/createorderlist" target="_parent" method="post">      
                            <input type="hidden" name="Action" value="Open" />
                            <input type="hidden" name="Id" value="{{.Order.OrderId}}" />
                            <button type="submit" class="btn btn-sm btn-info" >Изменимть состав</button>
                        </form>
                        <form  class="p-1" id="delform" name="delform" action="/works/dellorder" target="_parent" method="post">      
                            <input type="hidden" name="Id" value="{{.Order.OrderId}}" />
                            <button type="submit" class="btn btn-sm btn-danger" >Удалить</button>
                        </form>
                        {{else if (eq .User.Acces 1)}}
                        <form  class="p-1" id="changepromdate" name="changepromdate" action="/works/setpromdate" target="_parent" method="post">   
                            <div class=" input-group input-group-sm" >
                                <button class="btn btn-info" type="submit"  ><i class="bi-pencil-fill"></i><small> Изменить дату производства</small></button>
                                <input type="hidden" name="in1" value="{{.Order.OrderId}}" />
                                <input class="form-control " type="date" name="in2" placeholder="Изменить дату производства" style="width: 150px" />
                            </div>
                        </form>
                        {{end}}
                        <form  class="p-1" id="excell" name="excell" action="/works/ordersexcell" target="_parent" method="post">   
                                <button class="btn btn-outline-success btn-sm" type="submit"  ><i class="bi-file-earmark-excel" ></i></button>
                                <input type="hidden" name="in" value="{{.Order.OrderId}}"/>
                                <input type="hidden" name="Search" value="Raw"/>
                        </form>
                        {{if (eq .User.Acces 1)}}
                        <form  class="p-1" id="task" name="task" action="/works/ordertotask" target="_parent" method="post">   
                            <button class="btn btn-outline-success btn-sm" type="submit"  ><i class="bi-calendar-plus" ></i></button>
                            <input type="hidden" name="order" value="{{.Order.OrderId}}"/> 
                        </form>
                        {{end}}
                        {{if (eq .User.Acces 2)}}
                        <form  class="p-1" id="task" name="task" action="/works/setorder" target="_parent" method="get">   
                            <button class="btn btn-outline-primary btn-sm" type="submit"  ><i class="bi bi-tag-fill"></i> Назначить устройства</button>
                            <input type="hidden" name="order" value="{{.Order.OrderId}}"/> 
                        </form>
                        <form  class="p-1" id="task" name="task" action="/works/toship" target="_parent" method="get">   
                            <button class="btn btn-outline-primary btn-sm" type="submit"  ><i class="bi bi-truck"></i> Отгрузка</button>
                            <input type="hidden" name="place" value="{{.Order.Distributor}}"/> 
                        </form>
                        <form  class="p-1" id="task" name="task" action="/works/setodershdate" target="_parent" method="post">   
                            <button class="btn btn-outline-danger btn-sm" type="submit"  ><i class="bi bi-cart-check"></i> Закрыть</button>
                            <input type="hidden" name="order" value="{{.Order.OrderId}}"/> 
                        </form>
                        {{end}}
                    </div>
                   
                    </nav>
                    
                    <div class="tab-content" id="nav-tabContent">
                        
                        <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <table class="table" style="font-size: 80%;">
                                <tbody>
                                    <tr>
                                        <th>1С номер:</th>
                                        <td>{{.Order.Id1C}}</td>
                                        <th>Имя заказа:</th>
                                        <td>{{.Order.Name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Менеджер:</th>
                                        <td>{{.Order.Meneger}}</td>
                                        <th>Заказчик:</th>
                                        <td>{{.Order.Customer}}</td>
                                    </tr>
                                    <tr>
                                        <th>Дата заказа:</th>
                                        <td>{{.Order.OrderDate}}</td>
                                        <th>Требуемая дата</th>
                                        <td>{{.Order.ReqDate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <table class="table" style="font-size: 80%;">
                                <tbody>
                                    <tr>
                                        <th>1с номер:</th>
                                        <td>{{.Order.Id1C}}</td>
                                        <th>Имя заказа:</th>
                                        <td>{{.Order.Name}}</td>

                                    </tr>
                                    <tr>
                                        <th>Менеджер:</th>
                                        <td>{{.Order.Meneger}}</td>
                                        <th>Id:</th>
                                        <td>{{.Order.OrderId}}</td>
                                    </tr>
                                    <tr>
                                        <th>Заказчик:</th>
                                        <td>{{.Order.Customer}}</td>
                                        <th>Партнер:</th>
                                        <td>{{.Order.Partner}}</td>
                                    </tr>
                                    <tr>
                                        <th>Дистрибьютор:</th>
                                        <td>{{.Order.Distributor}}</td>
                                        <th>Комментарий:</th>
                                        <td>{{.Order.Comment}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <table class="table" style="font-size: 80%;">
                                <tbody>
                                    <tr>
                                        <th>Дата заказа:</th>
                                        <td>{{.Order.OrderDate}}</td>
                                        <th>Требуемая дата:</th>
                                        <td>{{.Order.ReqDate}}</td>

                                    </tr>
                                    <tr>
                                        <th>Обещаная дата:</th>
                                        <td>{{.Order.PromDate}}</td>
                                        <th>Дата отгрузки:</th>
                                        <td>{{.Order.ShDate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    
                </div>

                
                <div class="col">
                    <nav>
                        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                            {{if .List}}<button class="nav-link active" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list" aria-selected="true">Состав заказа</button>{{end}}
                            {{if .Status}} <button class="nav-link" id="nav-st-tab" data-bs-toggle="tab" data-bs-target="#nav-st" type="button" role="tab" aria-controls="nav-st" aria-selected="false" tabindex="-1">Статус</button> {{end}}
                            {{if .Reservs}}<button class="nav-link" id="nav-res-tab" data-bs-toggle="tab" data-bs-target="#nav-res" type="button" role="tab" aria-controls="nav-res" aria-selected="false" tabindex="-1">Резерв <a target = "_parent" type="button" class="btn btn-sm btn-outline-info"  href="/works/tmc?Search=Raw&Order={{.Order.OrderId}}">Открыть в ТМЦ</a></button>{{end}}
                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                        {{if .List}}
                        <div class="tab-pane fade active show" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                            <div class="container-fluid" style="height: 80vh; overflow-y: scroll;">
                                <table class="table table-striped" id="3">
                                    <thead>
                                        <tr>
                                            <th scope="col">Модель</th>
                                            <th scope="col">Кол-во</th>
                                            <th scope="col">Тип сервиса</th>
                                            <th scope="col">Дата активации сервиса</th>
                                            <th scope="col">Последниее редактирование</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range .List}}
                                        <tr>
                                            <td>{{.Model}}</td>
                                            <td>{{.Amout}}</td>
                                            <td>{{.ServType}}</td>
                                            <td>{{.ServActDate}}</td> 
                                            <td>{{.LastRed}}</td>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{end}}
                        {{if .Reservs}}
                        <div class="tab-pane fade" id="nav-res" role="tabpanel" aria-labelledby="nav-res-tab">
                            
                            <div class="container-fluid" style="height: 80vh; overflow-y: scroll;">
                                <table class="table table-striped" id="2">
                                    <thead>
                                        <tr>
                                            <th scope="col">Модель</th>
                                            <th scope="col">Наименование</th>
                                            <th scope="col">Кол-во</th>
                                            <th scope="col">Состояние</th>
                                            <th scope="col">Отгружен</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range .Reservs}}
                                        <tr class=" {{if(eq .Shipped true )}} {{print "table-secondary"}} {{else if(eq .Condition "Собрано" )}} {{print "table-success"}} {{else if(eq .Condition "В работе" )}} {{print "table-primary"}}     {{else if(eq .Condition "Не собрано")}} {{print "table-warning"}} {{end}}">
                                            <td>{{.Model}}</td>
                                            <td>{{.Name}}</td>
                                            <td>{{.Amout}}</td>
                                            <td>{{.Condition}}</td>
                                            <td>{{if eq .Shipped true}}<i class="bi bi-truck"></i> &check; {{else}} Нет {{end}}</td>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{end}}
                        {{if .Status}}
                        <div class="tab-pane fade" id="nav-st" role="tabpanel" aria-labelledby="nav-st-tab">
                            
                            <div class="container-fluid" style="height: 80vh; overflow-y: scroll;">
                                <table class="table table-striped" id="1">
                                    <thead>
                                        <tr>
                                            <th scope="col">Модель</th>
                                            <th scope="col">В заказе</th>
                                            <th scope="col">Зарезервированно</th>
                                            <th scope="col">В работе</th>
                                            <th scope="col">Собрано</th>
                                            <th scope="col">Отгружено</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range .Status}}
                                        <tr>
                                            <td>{{.Model}}</td>
                                            <td>{{.Amout}}</td>
                                            <td>{{.Reserved}}</td>
                                            <td>{{.InWork}}</td>
                                            <td>{{.Done}}</td>
                                            <td>{{.Shipped}}</td>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{end}}

                    </div>
                </div>
                
            </div>
                
           
          
    </div>
    
<script src="Face/html/js/bootstrap.bundle.js"></script>
<script src="Face/html/js/keys.js"></script>

<script src="Face/html/js/tablesort.min.js"></script>
        <script src="Face/html/js/tablesort.number.min.js"></script>
        <script src="Face/html/js/tablesort.date.min.js"></script>
        <script>
          new Tablesort(document.getElementById('1'));
          new Tablesort(document.getElementById('2'));
          new Tablesort(document.getElementById('3'));
        </script>

<script src="Face/html/js/tcs.bundle.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function(e) {
      var table = document.getElementById("1");
      var options = {
          changeTracking: true,
          deselectOutTableClick: false,
          enableChanging: false,
          selectClass: "tcs-select",
      };
      var buffer = new TableCellSelector.Buffer();
      var tcs = new TableCellSelector(table, options, buffer);
      document.getElementById("deselect").onclick = function (e) {
          e.preventDefault();
          var res = tcs.deselect();
          console.log("deselect = " + res);
      };

  });
  document.addEventListener("DOMContentLoaded", function(e) {
      var table = document.getElementById("2");
      var options = {
          changeTracking: true,
          deselectOutTableClick: false,
          enableChanging: false,
          selectClass: "tcs-select",
      };
      var buffer = new TableCellSelector.Buffer();
      var tcs = new TableCellSelector(table, options, buffer);
      document.getElementById("deselect").onclick = function (e) {
          e.preventDefault();
          var res = tcs.deselect();
          console.log("deselect = " + res);
      };

  });
  document.addEventListener("DOMContentLoaded", function(e) {
      var table = document.getElementById("3");
      var options = {
          changeTracking: true,
          deselectOutTableClick: false,
          enableChanging: false,
          selectClass: "tcs-select",
      };
      var buffer = new TableCellSelector.Buffer();
      var tcs = new TableCellSelector(table, options, buffer);
      document.getElementById("deselect").onclick = function (e) {
          e.preventDefault();
          var res = tcs.deselect();
          console.log("deselect = " + res);
      };

  });
  </script>
</body>


</html>


    
