<!doctype html>
<html lang="ru">
  <head>
    <title>T-Work</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Face\img\t-kom-ico.png">

    <link href="Face/html/css/bootstrap.min.css" rel="stylesheet">
    <link href="Face/html/css/style.css" rel="stylesheet">
    <link href="Face/html/css/bootstrap-icons.css" rel="stylesheet">

     <!-- TODO add manifest here -->
  <link rel="manifest" href="Face/manifest.json">
  
  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="T-Base PWA">
  <link rel="apple-touch-icon" href="Face/img/t-kom-ico.png">

  <meta name="msapplication-TileImage" content="Face/img/t-kom-ico.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">

  </head>
  
  <body>


    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" aria-label="Fifth navbar example">
      <div class="container-fluid">
      
        <a class="navbar-brand" href="/works/prof">
          <img src="Face\img\t-kom-logo.svg" width="100" height="50" alt="" loading="lazy">
        </a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Переключить навигацию">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse collapse" id="navbarsExample05">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
              <a class="nav-link active" href="/works/prof">Профиль</a>
            </li>
            
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Таблицы</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/works/tmc">ТМЦ</a></li>
                <li><a class="dropdown-item" href="/works/orders">Заказы</a></li>
                <li><a class="dropdown-item" href="/works/storage">Склад</a></li>
              </ul>
            </li>
            <form id="logout" name="logout" action="/works/logout" method="post"> 
              <a href="/works/logout" class="btn btn-outline-danger" type="submit" name="logoutBtn" >Выйти <i class="bi bi-arrow-bar-right"></i></a>
            </form>
          </ul>
          <a class="btn btn-primary" href="/works/changepass" role="button" > <i class="bi bi-key-fill"></i> Изменить пароль</a>

        </div>

      </div>
    </nav>


    <div class="container">

      <div class="container">
        <div class="row gy-3">
        <div class="col-12">
          <h1 class="display-5 text-start">Профиль</h1>
          
        </div>
        </div>
      </div>

      <div class="container">
        <div class="row gy-3">
          <div class="col-md">
            <div class="card">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Фио:</th>
                      <th scope="col"> <div class="text-nowrap">{{.User.Name}}</div></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Отдел:</th>
                      <td>{{.User.Acces}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Login:</th>
                      <td>{{.User.Login}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        <div class="col">
          <div class="row gy-3 gx-3">
            {{range .Bl}}
            <div class="col">
              <h6 class="text-nowrap">{{.Title}}</h6>
              <div class="d-grid gap-2">
                {{range .Btns}}
                <a class="btn btn-primary" href="{{.Url}}" role="button" style="min-width: 150px;">{{.Text}}</a>
                {{end}}
              </div>
            </div>
            {{end}}
          </div>
        </div>

        </div>

      </div>

    </div>

    <script src="Face/html/js/bootstrap.bundle.js"></script>
    <script src="Face/html/js/app.js" async></script>
  </body>
</html>