<!doctype html>
<html lang="ru">

<head>
    <title>Приемка по моделям</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Face\img\t-kom-ico 144.png">

    <link href="Face/html/css/bootstrap.min.css" rel="stylesheet">
    <link href="Face/html/css/style.css" rel="stylesheet">
    <link href="Face/html/css/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" aria-label="Fifth navbar example">
        <div class="container-fluid">
        
          <a class="navbar-brand" href="/works/prof">
            <img src="Face\img\t-kom-logo.svg" width="100" height="50" alt="" loading="lazy">
          </a>
  
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="navbar-collapse collapse" id="navbarsExample05">
  
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
              <li class="nav-item">
                <a class="nav-link active" href="/works/prof">Главная <i style="color: rgb(80, 80, 80);" class="bi bi-house-fill"></i></a>
              </li>
              
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Таблицы</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/works/tmc">ТМЦ <i style="color: rgb(80, 80, 80);" class="bi bi-table"></i></a></li>
                  <li><a class="dropdown-item" href="/works/orders">Заказы <i style="color: rgb(80, 80, 80);" class="bi bi-briefcase-fill"></i></a></li>
                  <li><a class="dropdown-item" href="/works/storage">Склад <i style="color: rgb(80, 80, 80);" class="bi bi-house-fill"></i></a></li>
                </ul>
              </li>
              <a class="nav-link active" style="text-align: left;" href="/works/cal">Календарь задач <i class="bi bi-calendar-week"></i></a>
              
            </ul>
  
          </div>
  
        </div>
      </nav>

    <div class="container-xl p-3">
      <form id="in-form" name="in-form" action="/works/takedevicebymodel" method="post">

        <div class="row">
          <div class="col mb-3" style="min-width: 350px;">
            <label for="DModel" class="form-label">Модель поставщика</label>
            <div class="input-group mb-3" >
              <span class="input-group-text">DModel</span>
              <input class="form-select" name="DModel" type="text" onchange="maching(this)" list="dmodellist" placeholder="Не выбрано"></input>
              <datalist id="dmodellist">
                <option selected value=""></option>
                {{range .DModels}}
                  <option value="{{.Name}}"></option>
                {{end}}
              </datalist> 
              
            </div>
            <label for="Rev" class="form-label">Ревизия</label>
            <div class=" input-group mb-3">
              <span class="input-group-text">Rev</span>
              <input type="text" class="form-control" placeholder="Ревизия" name="Rev" id="Rev">
            </div>
            <label for="Doc" class="form-label">УПД/ТОРГ12</label>
            <div class=" input-group mb-3">
              <span class="input-group-text">Doc</span>
              <input type="text" class="form-control" placeholder="УПД/ТОРГ12" name="Doc" id="Doc">
            </div>
          </div>
          <div class="col mb-3" style="min-width: 350px;">
            <label for="TModel" class="form-label">Планируемая модель</label>
            <div class=" input-group mb-3" >
              <span class="input-group-text">TModel</span>
              <input class="form-select" name="TModel" id="TModel" type="text" placeholder="Не выбрано" list="tmodellist" onchange="resetIfInvalid(this)"></input>
              <datalist id="tmodellist">
                <option selected value=""></option>
                {{range .TModels}}
                  <option value="{{.Name}}"></option>
                {{end}}  
              </datalist> 
              
            </div>
            <label for="Place" class="form-label">Номер места</label>
            <div class="input-group mb-3">
              <span class="input-group-text">№</span>
              <input type="number" class="form-control" placeholder="Место" name="Place" id="Place">
            </div>
            <label for="Order" class="form-label">Закупочный заказ</label>
            <div class=" input-group mb-3">
              <span class="input-group-text">Order</span>
              <input type="text" class="form-control" placeholder="Заказ" name="Order" id="Order">
            </div>
          </div>
          <div class="col mb-3" style="min-width: 350px;">
            <label for="Sn" class="form-label">Серийные номера через пробел или с новой строки</label>
            <textarea class="form-control" type="Sn" id="Sn" name="Sn"  placeholder="" ></textarea>
          </div>
        </div>
          
          <button class="btn btn-primary" type="submit" style="width: 100%;">Принять</button>
      </form>
    </div>

    <script>
      var textarea = document.getElementsByTagName('textarea')[0];

      textarea.addEventListener('keydown', resize);

      function resize() {
      var el = this;
      setTimeout(function() {
        el.style.cssText = 'height:auto;';
        el.style.cssText = 'height:' + el.scrollHeight + 'px';
      }, 1);
      }
      function resetIfInvalid(el){
       
        if (el.value == "")
            return;
        var options = el.list.options;
        for (var i = 0; i<options.length; i++) {
            if (el.value == options[i].value)
                return;
        }
        
        el.value = "";
      }

      const machmap = new Map([{{range .Maching}}[{{.DModel}},{{.TModel}}],{{end}}]);

      function maching(el){ 
        var tmodel = document.getElementById("TModel");
        if (machmap.has(el.value)){
          tmodel.value = machmap.get(el.value);
        }else{
          tmodel.value = "";
        }
        resetIfInvalid(el)  
      }

    </script>

    <script src="Face/html/js/bootstrap.bundle.js"></script>
    <script src="Face/html/js/keys.js"></script>
</body>


</html>