<!doctype html>
<html lang="ru">

<head>
    <title>Модель {{.Model.Name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Face\img\t-kom-ico 144.png">

    <link href="Face/html/css/bootstrap.min.css" rel="stylesheet">    
    <link href="Face/html/css/style.css" rel="stylesheet">
    <link href="Face/html/css/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    
  <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" aria-label="Fifth navbar example">
    <div class="container-fluid">
    
      <a class="navbar-brand" href="/works/prof">
        <img src="Face\img\t-kom-logo.svg" width="100" height="50" alt="" loading="lazy">
      </a>

      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Переключить навигацию">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample05">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
          <li class="nav-item">
            <a class="nav-link active" href="/works/prof">Главная <i style="color: rgb(80, 80, 80);" class="bi bi-house-fill"></i></a>
          </li>
          
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Таблицы</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/works/tmc">ТМЦ <i style="color: rgb(80, 80, 80);" class="bi bi-table"></i></a></li>
              <li><a class="dropdown-item" href="/works/orders">Заказы <i style="color: rgb(80, 80, 80);" class="bi bi-briefcase-fill"></i></a></li>
              <li><a class="dropdown-item" href="/works/storage">Склад <i style="color: rgb(80, 80, 80);" class="bi bi-house-fill"></i></a></li>
            </ul>
          </li>
          <a class="nav-link active" style="text-align: left;" href="/works/cal">Календарь задач <i class="bi bi-calendar-week"></i></a>
          
        </ul>
      </div>

    </div>
  </nav>




      <div class="container">
        <div class="row">
          <div class="col-6">
            <table class="table caption-top">
              <caption>Информация о модели:</caption>
                <tbody>
                    
                
                    <tr>
                      <th>
                        Наименование
                      </th>
                      <td>
                        <h5>{{.Model.Name}}</h5>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Id
                      </th>
                      <td>
                        {{.Model.Id}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Паспорт
                      </th>
                      <td>
                        <button class="btn btn-primary btn-sm" onclick=openNewKig()>Изменить</button>
                        {{if(ne .Model.KigId "" )}}<a class="btn btn-primary btn-sm" href="/works/filesbase?id={{.Model.KigId}}&type=komm.kigs">Открыть</a> {{end}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Даташит
                      </th>
                      <td>
                        <button class="btn btn-primary btn-sm" onclick=openNewDS()>Изменить</button>
                        {{if(ne .Model.DsId "" )}}<a class="btn btn-primary btn-sm" href="/works/filesbase?id={{.Model.DsId}}&type=komm.ds">Открыть</a> {{end}}
                      </td>
                    </tr>
                </tbody>
            </table>
          </div>
          <div class="col-6">
            &nbsp;
            <h5>Возможные сборки</h5>
            &nbsp;
            <div class="row g-3 ">
              {{range .Builds}}
              <div class="col" style="width: 100%; min-width: 400px;">
                <div class="card" style=" width: 100%; max-width: 801px;">
                  <ul class="list-inline card-header"><li class="list-inline-item h4">{{.TModel}}</li><li class="list-inline-item h4 float-end">#{{.Id}}</li></ul>
                  <div class="card-body">
                    <h6 class="card-title">{{.DModel}}</h6>
                    <p class="card-text"></p>
                  </div>
                  <ul class="list-group list-group-flush">
                    {{range .BuildList}}
                    <li class="list-group-item">{{.Mat}} [{{.Amout}}]</li>
                    {{end}}
                  </ul>
                </div>
              </div>
              {{end}}
            </div>
          </div>

        </div>

        <div class="modal fade" id="NewKig" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Загрузить новый паспорт</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <form method="post" action="/works/changetmodelkig" enctype="multipart/form-data">
                    <input type="hidden" name="modelId" id="modelId" value="{{.Model.Id}}">
                    
                    <div class=" input-group mb-3">
                      <input type="file" accept=".pdf" class="form-control" name="newFile" id="newFile" >
                      <button type="submit" class="btn btn-primary" onclick="">Загрузить</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="NewDS" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Загрузить новый даташит</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <form method="post" action="/works/changetmodelds" enctype="multipart/form-data">
                    <input type="hidden" name="modelId" id="modelId" value="{{.Model.Id}}">
                    
                    <div class=" input-group mb-3">
                      <input type="file" accept=".pdf" class="form-control" name="newFile" id="newFile" >
                      <button type="submit" class="btn btn-primary" onclick="">Загрузить</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

        <script>
        function openNewKig() {
          var myModal = new bootstrap.Modal(document.getElementById('NewKig'));
          myModal.show();
        }
        function openNewDS() {
          var myModal = new bootstrap.Modal(document.getElementById('NewDS'));
          myModal.show();
        }
        </script>
        <script src="Face/html/js/bootstrap.bundle.js"></script>
        <script src="Face/html/js/keys.js"></script>
</body>


</html>